*{
  margin: 0;
  padding: 0;
}
.contenedor-testimonio{
  width: 1170px;
  height: 368px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}
.contenedor-texto-textimonio{
  padding: 40px;
  text-align: center;
}

.imagen-testimonio{
  height: 100%;
  width: auto;
}

.nombre-testimonio{
  font-size: 1.3rem;/*el rem es como el em, pero recalcula en funcion del lo que herede, que antes era 18px*/
}

.cargo-testimonio{
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;
}

.texto-testimonio{
  font-size: 1.1rem;
  text-align: justify;
}